/*
  @webtoon/psd
  Copyright 2021-present NAVER WEBTOON
  MIT License
*/

.progress-spinner {
  --spinner-width: 3em;
  --spinner-height: 2em;
  --spinning-bgcolor: hsl(200, 80%, 50%);
  --animation-name: square-spinner-1;

  position: relative;
  background: hsl(0, 0%, 70%);
  margin: auto;
  margin-bottom: calc(var(--spinner-height) * 2 / 3);
}

.progress-spinner::before,
.progress-spinner::after {
  position: absolute;
  left: 0;
  content: "";
}

.progress-spinner::before {
  --spinning-bgcolor: hsl(200, 90%, 65%);
  --animation-name: square-spinner-2;

  top: calc(var(--spinner-height) / 3);
  background: hsl(0, 0%, 80%);
}

.progress-spinner::after {
  --spinning-bgcolor: hsl(200, 100%, 80%);
  --animation-name: square-spinner-3;

  top: calc(var(--spinner-height) * 2 / 3);
  background: hsl(0, 0%, 90%);
}

.progress-spinner,
.progress-spinner::before,
.progress-spinner::after {
  width: var(--spinner-width);
  height: calc(var(--spinner-height) / 3);
}

.progress-spinner[data-state="spinning"],
.progress-spinner[data-state="spinning"]::before,
.progress-spinner[data-state="spinning"]::after {
  animation: 2s infinite var(--animation-name) ease-in-out;
  background: var(--spinning-bgcolor);
}

@keyframes square-spinner-1 {
  30% {
    transform: translateX(0) scaleX(1);
  }

  45% {
    transform: translateX(50%) scaleX(0);
  }

  46% {
    transform: translateX(-50%) scaleX(0);
  }

  61% {
    transform: translateX(0) scaleX(1);
  }
}

@keyframes square-spinner-2 {
  15% {
    transform: translateX(0) scaleX(1);
  }

  30% {
    transform: translateX(50%) scaleX(0);
  }

  61% {
    transform: translateX(-50%) scaleX(0);
  }

  76% {
    transform: translateX(0) scaleX(1);
  }
}

@keyframes square-spinner-3 {
  0% {
    transform: translateX(0) scaleX(1);
  }

  15% {
    transform: translateX(50%) scaleX(0);
  }

  76% {
    transform: translateX(-50%) scaleX(0);
  }

  91% {
    transform: translateX(0) scaleX(1);
  }
}

/*
  @webtoon/psd
  Copyright 2021-present NAVER WEBTOON
  MIT License
*/

:root {
  --text-color: #5c5c6c;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.webtoon-psd-name {
  font-weight: 550;
}

.app {
  --border-style: 1px solid #cccccc;
  --padding: 16px;

  display: flex;
  flex-direction: column;
  margin: 64px auto 0 auto;
  border: var(--border-style);
  padding: 0 var(--padding);
  max-width: 640px;
}

.app__section {
  border-top: var(--border-style);
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

.app__section:first-child {
  border-top: none;
  padding-top: none;
}

.app-header {
  color: var(--text-color);
}

.app-header > :first-child {
  margin-top: 0;
}

.app-header > :last-child {
  margin-bottom: 0;
}

.app-header h1 {
  font-size: 1.5rem;
}

.control-panel {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
}

.progress-panel {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.progress-panel__description {
  align-self: center;
  font-size: 80%;
}

.progress-panel__row {
  display: flex;
  gap: 8px;
}

.progress-panel__progressbar-wrapper {
  flex: 1;
}

.progress-panel__progressbar {
  width: 100%;
}

.result-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.result-panel__table-container {
  align-self: stretch;
}

.benchmark-table {
  width: 100%;
  border-collapse: collapse;
  color: var(--text-color);
}

.benchmark-table caption {
  font-size: 120%;
  padding-bottom: 8px;
}

.benchmark-table th,
.benchmark-table td {
  border: 1px solid #9999cc;
  padding: 8px;
}

.benchmark-table th {
  background-color: #ccccff;
}

.benchmark-table .benchmark-table__category-header {
  background-color: #f0f0ff;
  font-weight: 550;
  text-align: start;
}

.benchmark-table__number-cell {
  text-align: end;
}

.error-panel__message {
  display: flex;
  place-content: center;
  background-color: rgb(240, 220, 128);
  color: rgb(200, 80, 80);
  border: 1px solid rgb(200, 80, 80);
  padding: 32px;
}

