/*
  @webtoon/psd
  Copyright 2021-present NAVER WEBTOON
  MIT License
*/

@import "./spinner.css";

:root {
  --text-color: #5c5c6c;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.webtoon-psd-name {
  font-weight: 550;
}

.app {
  --border-style: 1px solid #cccccc;
  --padding: 16px;

  display: flex;
  flex-direction: column;
  margin: 64px auto 0 auto;
  border: var(--border-style);
  padding: 0 var(--padding);
  max-width: 640px;
}

.app__section {
  border-top: var(--border-style);
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

.app__section:first-child {
  border-top: none;
  padding-top: none;
}

.app-header {
  color: var(--text-color);
}

.app-header > :first-child {
  margin-top: 0;
}

.app-header > :last-child {
  margin-bottom: 0;
}

.app-header h1 {
  font-size: 1.5rem;
}

.control-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  font-size: 14px;
}

.control-panel__psd-source-grid {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 16px 4px;
}

#use-sample-psd-button {
  margin-left: 4px;
}

#file-input {
  width: 160px;
}

.progress-panel {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.progress-panel__description {
  align-self: center;
  font-size: 80%;
}

.progress-panel__row {
  display: flex;
  gap: 8px;
}

.progress-panel__progressbar-wrapper {
  flex: 1;
}

.progress-panel__progressbar {
  width: 100%;
}

.result-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.result-panel__table-container {
  align-self: stretch;
}

.benchmark-table {
  width: 100%;
  border-collapse: collapse;
  color: var(--text-color);
}

.benchmark-table caption {
  font-size: 120%;
  padding-bottom: 8px;
}

.benchmark-table th,
.benchmark-table td {
  border: 1px solid #9999cc;
  padding: 8px;
}

.benchmark-table th {
  background-color: #ccccff;
}

.benchmark-table .benchmark-table__category-header {
  background-color: #f0f0ff;
  font-weight: 550;
  text-align: start;
}

.benchmark-table__number-cell {
  text-align: end;
}

.error-panel__message {
  display: flex;
  place-content: center;
  background-color: rgb(240, 220, 128);
  color: rgb(200, 80, 80);
  border: 1px solid rgb(200, 80, 80);
  padding: 32px;
}
