@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css");

html,
body {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  flex: 1;
  background-repeat: repeat;
  background-position: center;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24'><rect x='12' y='0' width='12' height='12' fill='%23e8e8e8'/><rect x='0' y='12' width='12' height='12' fill='%23e8e8e8'/></svg>");
  color: #24292e;
  font-family: "NanumBarunGothic", sans-serif;
}

h1 {
  margin: 0;
  padding: 20px 0;
  font-size: 30px;
  font-weight: 600;
}
h2 {
  margin: 0;
  padding: 30px 0 15px;
  font-size: 18px;
  font-weight: 600;
}
h3 {
  margin: 0;
  padding: 24px 0 14px;
  font-size: 16px;
  font-weight: 600;
}
code {
  display: block;
  background-color: #f6f8fa;
  border-radius: 4px;
  padding: 10px 14px;
}
table {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d0d7de;
  mso-cellspacing: 0;
  border-spacing: 0;
  table-layout: fixed;
}
table td {
  text-align: center;
  vertical-align: top;
  padding: 4px 12px;
}
ul {
  margin: 0;
  padding: 0 0 0 18px;
}
ul li {
  padding: 4px 0;
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}
p {
  color: #959da5;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 1;
}
p + p {
  margin-top: 8px;
}

aside {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  align-items: flex-end;
  background-color: #fff;
  max-width: 400px;
}
.aside-content {
  padding: 20px;
  max-width: 400px;
  height: 100%;
  overflow: scroll;
}
.aside-content p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6em;
}

.badges {
  padding-top: 10px;
}
.browser-compatibility img {
  width: 32px;
  padding-top: 4px;
}
.browser-compatibility span {
  font-size: 12px;
  font-weight: 300;
  color: #57606a;
}
.browser-compatibility b {
  color: #252a2e;
  font-weight: 600;
}

.aside-bottom {
  padding: 20px 20px 30px;
}
.aside-bottom p {
  text-align: right;
}
.aside-bottom img {
  height: 16px;
  vertical-align: bottom;
  margin: 0 4px -1px;
  fill: #00d564;
}
.aside-bottom a {
  text-decoration: none;
  color: #00d564;
  font-weight: 600;
}
.aside-bottom a:hover {
  text-decoration: underline;
}

section {
  display: flex;
  flex: 1;
  overflow: scroll;
}

.section-content {
  padding: 20px;
  height: min-content;
}
.section-content p {
  color: #24292e;
}
.section-content .layer-info {
  display: inline-block;
  margin-bottom: 10px;
  padding: 6px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 0 #fff;
}
